#pokemon-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  top: 24px;
  background-color: cornflowerblue;
  margin: 0 auto;
  border-style:dashed;
  word-spacing: 10px;
  font-size: 150%;
  max-width: 800px;
  text-align: center;

}
h1 {
  text-align: center;
  color: black;
}
button {
  border-radius: 15px;
  justify-content: center;
  background-color: white;
}
ul {
  list-style: none;
  text-align: center;
}
.modal {
  display: none;
  text-align: center;
  border-radius: 8px;
  max-width: 800px;
  margin: auto 0;
}
.modal-dialog {
  background-color: orange;
}
.container-fluid {
  background-color: lightblue;
}
li > button {
  background-color: white;
}
.nav-link {
  display: inline-block;
  margin: 0 auto;
}
.btn-info {
  background-color: #4ddbff;
}
.display-1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.modal-header {
  background-color: coral;
}
.modal-body {
  background-color: aquamarine;
}
.modal-wrapper {
  justify-content: center;
}
