body {
  background-color: lightblue;
}
#pokemon-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  top: 24px;
  background-color: cornflowerblue;
  margin: 0 auto;
  border-style:dashed;
  word-spacing: 10px;
  font-size: 150%;
  max-width: 800px;
  text-align: center;

}
h1 {
  text-align: center;
}
button {
  border-radius: 15px;
  justify-content: center;
}
ul {
  list-style: none;
  text-align: center;
}
